<h1>About us</h1>
<p>The application developed is an Online Shopping store wich sells handcrafted Colombian Clothes and Jewry.
  Developed in Ruby on Rails as an Student Project for the National College of Ireland.</p>
<p>If you have questions about our ordering policies or how to order one of our publications online,
  please do not hesitate in contact us to your our Customer Service who are available
  Monday through Friday 9:00am to 5:30pm call us at 745-80910</p>
