<div class="row product-tiles">
  <% @main_products.each do |product| %>
      <% product = product.product %>
      <a href="<%= product_path(product) %>">
        <div class="col-xs-6 col-md-6 col-lg-4 product-tile">
          <div class="thumbnail-container">
            <div class="thumbnail">
              <%= image_tag product.main_image(:preview), class: 'img-preview' %>
            </div>
          </div>
          <div class="product-details">
            <p class="title"><%= product.name %></p>
            <span class="price"><%= number_to_currency product.price %></span>
          </div>
        </div>
      </a>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">History</h2>
    <p>The mola or molas, forms part of the traditional outfit of a Kuna and Muisca woman, two mola panels being incorporated as front and back panels in a blouse. The full costume traditionally includes a patterned wrapped skirt or different traditional patterns. To the outfit is possible to add and leg beads (wini) and ring (olasu) and earrings.</p>
    <p>In the native language, "mola" means "shirt" or "clothing". Reason why we've decided to offer this lovely product to the rest of the world. The mola originated with the tradition of Kuna and Muisca women with painting their clothes with geometrical designs, using available natural colours woven in cotton. A new and revolutionary way of fashion.</p>
  </div>
</div>