<div class="row">
  <% 1.upto(10) do |i| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="thumbnail-container">
        <div class="thumbnail fixed-height">
          <%= image_tag image_url("pic#{i}.jpg") %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">History</h2>
    <p>The mola or molas, forms part of the traditional outfit of a Kuna and Muisca woman, two mola panels being incorporated as front and back panels in a blouse. The full costume traditionally includes a patterned wrapped skirt or different traditional patterns. To the outfit is possible to add and leg beads (wini) and ring (olasu) and earrings.</p>
    <p>In the native language, "mola" means "shirt" or "clothing". Reason why we've decided to offer this lovely product to the rest of the world. The mola originated with the tradition of Kuna and Muisca women with painting their clothes with geometrical designs, using available natural colours woven in cotton. A new and revolutionary way of fashion.</p>
  </div>
</div>