<div class="text-center text-success" id="thank_block">
  <h1>Thank You For Your Bought!</h1>
  <div>
    <span class="glyphicon glyphicon-ok thank-icon"></span>
  </div>
  <div id="return_link">
    <%= link_to 'Return to the main page', root_path %>
  </div>
</div>
