// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "great_vibes_font";
@import "main";
@import "devise";
@import "products";
@import "cart";
@import "thumbnails";

html, body {
  background: image_url('imgbg.jpg');
}

header {
  h1 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 67px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
}

// Make straight borders
.btn {
  border-radius: 0 !important;
}

input {
  border-radius: 0 !important;
}

.alert {
  border-radius: 0;
}

#menu {
  border-radius: 0;

  #menu_body {
    padding: 0;

    .nav {
      a {
        color: #5F5F5F;
        border-radius: 0;
      }

      li {
        margin: 0;

        &.active a {
          background: #eeeeee;
        }
      }
    }

    hr {
      margin: 0;
    }
  }
}

.small-image {
  max-width: 90px;
  max-height: 90px;
}

table {
  .small-col {
    width: 1%;
  }

  .user-actions {
    width: 232px;
  }

  .actions {
    width: 140px;
  }

  td.align-left,
  tr.align-left,
  th.align-left {
    text-align: left !important;
  }

  &.centered-table {
    td, th {
      text-align: center;
      vertical-align: middle !important;
    }
  }

  &.table-hover > tbody > tr:hover {
    background-color: white;
  }
}

// Used for Add button
.right-btn-block {
  position: relative;

  a {
    float: right;
    position: absolute;
    bottom: 12px;
    right: 0;
  }
}

.inline {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}